language: rust
sudo: false
cache: cargo
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
rust:
- nightly
- beta
- stable
os:
- linux
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/Library/Python/2.7/bin:$HOME/.local/bin:$PATH
script:
- |
  sh ./test-no-skeptic.sh &&
  travis-cargo --only nightly test -- --features "test nightly" -p gluon compile_test &&
  cargo build --release &&
  travis-cargo --only nightly bench &&
  cargo build --all --no-default-features
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE="nightly"
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/78796507a78a48a4b18e
    on_success: change
    on_failure: always
    on_start: never
