[package]

name = "embed_lang"
version = "0.0.1"
authors = ["Markus <marwes91@gmail.com>"]


[lib]

name = "embed_lang"
path = "src/lib.rs"


[[bin]]

name = "repl"
path = "src/main.rs"

[dependencies.log]
[dependencies.env_logger]
[dependencies.clap]
[dependencies.base]
path = "base"
[dependencies.parser]
path = "parser"
[dependencies.check]
path = "check"
